/* колір основного тексту #757575  */
/* колір вторичного тексту #212121 */
/* акцент #2196F3 */
/* білий #FFFFFF */
:root{
    --main-color:#757575;
    --second-color:#212121;
    --accent-color:#2196F3;
    --defult-color:#FFFFFF;
}

body{
    background-color:var(--defult-color);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style:none;
}
a{
    text-decoration: none;
}

h2{
    color:var(--second-color);
}

/* Навігаційне меню */

    /* Лого */
.logo-main{
    color:var(--accent-color);
}
.logo-black{
    color:#000000;
}
.logo-white{
    color:var(--defult-color);
}

    /* Список меню */

.nav-list{
    color: var(--second-color);
    
}
.nav-list:hover,.nav-list:focus {
    color: var(--accent-color);

}

/* Контакти */
.contact-tel{
  color:var(--main-color);

}
.contact-mail{
    color:#2196F3;
}
.contact-tel:hover,.contact-tel:focus {
  color:var(--accent-color);
}

/* hero */
.title-hero{
    color:var(--defult-color);
}
.button-hero{
    color:var(--defult-color);
    background-color:var(--accent-color);
}


/* Особливості */
.title-features{
    color:var(--second-color);
}

.features-description{
    color:var(--main-color);
}

/* Наша команда */
.team-name{
    color:var(--second-color);
}
.team-description{
    color:var(--main-color);
}

/* Футер */
.address-map{
    color:var(--defult-color);
}
.address-mt{
    color:rgba(255, 255, 255, 0.6)
}

.address-map:hover,.address-map:focus{
    color:var(--accent-color);
}
.address-mt:hover,.address-mt:focus{
    color:var(--accent-color);
}